button{
    width: 100px;
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  td:hover {background-color: coral;}

  .column {
    float: left;
    width: 8%;
  }

  .column2{
    float: left;
    width: 92%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }